In [1]:
import pandas as pd
import datetime

In [79]:
df= pd.read_excel('Aniversariantes - Automatico.xlsx', sheet_name = "Envios")
df
df['Data de Nascimento+'] = pd.to_datetime(df['Data de Nascimento+'], format='%d/%m/%Y', errors='coerce')
data_hoje = datetime.datetime.now().strftime('%d/%m')
aniversariantes_hoje = df[df['Data de Nascimento+'].dt.strftime('%d/%m') == data_hoje]

aniversariantes_hoje

,Nome Completo,Telefone,Data de Nascimento+,Sexo,Sociedade
1140,Antonio Alfredo Da Cruz Neto,16 98243-3775,1988-11-06,M,NaN
1231,Marcio Clebio Fonseca Costa,11 99420-4446,1980-11-06,M,NaN
1357,Dagoberto Moises Feitosa Do Nascimento,11 98125-3060,1985-11-06,M,NaN
1645,Jose Marcilio Araujo Barreto,67 8446-2202,1973-11-06,M,NaN
2123,Anderson Alan Cambraia Cardoso,96 8134-1350,1995-11-06,M,NaN
3597,Ivan Dos Santos Rodrigues,11 98135-2581,1988-11-06,M,NaN
3624,Bianca Quintella Ribeiro Correa Amaro,95 8119-6356,1996-11-06,F,NaN
3745,Gabriela Eivazian Monteiro Da Silva,11 99340-0019,1995-11-06,F,SÓCIO

In [92]:
aniversario = aniversariantes_hoje['Nome Completo']
socio = aniversariantes_hoje['Sociedade']
sexo = aniversariantes_hoje['Sexo']
telefone = aniversariantes_hoje['Telefone']

for x,y,z,a in zip(aniversario, socio, sexo, telefone):
    
    if y == "SÓCIO":
        img = "sociedade.jpg"
    else:
        img = "aniversariante.jpg"
    
    
    if z != 'M':
        sexo = 'Dra.'
    else:
        sexo = 'Dr.'


resultado = pd.merge(aniversario ,telefone, how='outer', on= aniversario, left_index=False, right_index=False)
del resultado['key_0']
resultado.set_index('Nome Completo', inplace = False)


print(resultado)

                                             Telefone
Nome Completo
Antonio Alfredo Da Cruz Neto            16 98243-3775
Marcio Clebio Fonseca Costa             11 99420-4446
Dagoberto Moises Feitosa Do Nascimento  11 98125-3060
Jose Marcilio Araujo Barreto             67 8446-2202
Anderson Alan Cambraia Cardoso           96 8134-1350
Ivan Dos Santos Rodrigues               11 98135-2581
Bianca Quintella Ribeiro Correa Amaro    95 8119-6356
Gabriela Eivazian Monteiro Da Silva     11 99340-0019